* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 a {
    color: inherit;
    text-decoration: none;
 }
 
 .container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: auto;
 }

 .flex {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .grid {
    display: grid;
    align-items: center;   
 }